:root {
  --azul: rgb(167, 165, 222);
  --grisOscuro: #d3d3d3;
  --blanco: #fff;
  --negro: #000;
  --rojo: red;
  --azul_fuerte: rgb(10, 10, 142);
  --fondo_nav: #f2f2f2;
  --mail_verde: #5dd25b;
}

.nav-titulo {
  color: var(--azul_fuerte);
  font-style: oblique;
  text-align: center;
  font-weight: lighter;
}

.nav-titulo:hover {
  color: var(--rojo);
}

/* -----------------------------------------------INDEX----------------------------------------------------- */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------NAV -/ LOG ------------------- */
.imagen-logo {
  max-width: 400px;
  margin-left: 25px;
}

/* -----------Nav---------------- */
.nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  /* background-color: var(--blanco); */
  background-color: var(--fondo_nav);
}

.nav-ul {
  display: flex;
  align-items: flex-end;
}

.nav-li {
  list-style: none;
  flex-grow: 1;
}

.nav-a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  padding: 5px;
  font-weight: 250;
  font-size: 20px;
  color: #ffffff;
  background-color: var(--negro);
  border-radius: 6px;
  border: 1px solid #0016b0;
}

/* ---------Hover sobre navegador h1----------- */
.nav-a:hover {
  color: var(--rojo);
}

/* -----------Boton para Hamburguesa----- */
.boton {
  display: none;
  position: sticky;
  top: 0;
}

/* -------------Media Queries----------------- */
@media (max-width: 767px) {
  .boton {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--negro);
    border-radius: 6px;
    border: 2px solid #0016b0;
  }

  .nav-ul {
    /* display: block; */
    width: 90%;
    margin-top: 20px;
    display: none;
  }

  .nav-a {
    border-bottom: 1px solid var(--grisOscuro);
  }

  .imagen-logo {
    display: none;
  }

  /* --------pagina contacto */
  .contacto-contenedor-lateral {
    display: none;
  }

  .contacto-contenedor_formularios {
    margin-left: 95px;
  }

  .mostrar {
    display: block;
  }

  .equipo{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .productos .equipo-info{
    display: block;
  }

}/*------------- Cierra Media Q----------- */

/* ------------Imagen Slider -------------- */
.imagen-slider>a>img {
  margin-top: 25px;
  max-height: 150px;
  width: 100%;
  margin-bottom: 40px;
  display: block;
  object-fit: cover;
}

/* -------------Productos GRID------------------- */
.productos {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  column-gap: 5px;
  margin-bottom: 40px;
  margin: auto 200px;
  justify-content: center;
}

 .equipo-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
 } 

.equipo-titulo {
  margin-bottom: 18px;
  text-align: center;
}

/* -------------Footer Flex------------------- */
.pie {
  background-color: var(--negro);
  padding: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--blanco);
  align-items: center;
}

.formulario-contacto>h2 {
  margin-bottom: 5px;
}



.mail-footer {
  color: var(--mail_verde);
}

/* -----------------------------------------NOSOTROS------------------------------------------------ */

.nosotros-table {
  max-width: 800px;
  margin: auto;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 25px;
  margin-bottom: 30px;
}

.nosotros-img {
  float: left;
  shape-outside: circle(90px);
}

/* -----------------------------------------CONTACTO----------------------------------------------------- */

.body-contacto{
  background-image: url("imagenes/fondo_contacto.jpg");
  background-size: cover;
}

.contenedor-general{
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.contacto-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 55px;
}

.titulo-formulario {
  text-align: center;
  padding: 15px;
}

.contacto-contenedor-lateral {
  background-color: var(--grisOscuro);
  text-align: center;
  margin: auto;
  border: solid 2px var(--negro);
}

.formulario {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.contacto-contenedor_formularios>.formulario>label {
  margin-bottom: 50px;
}

.nombre,
.telefono,
.email {
  width: 250px;
  text-align: left;
  height: 15px;
}

.textarea {
  height: 185px;
}

.boton-contacto {
  margin-top: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: var(--negro);
  border-radius: 6px;
  border: 2px solid #0016b0;
  width: 100px;
  align-self: flex-end;
}

.boton-contacto:hover {
  text-decoration: underline;
}


