/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --azul: rgb(167, 165, 222);
  --grisOscuro: #9b9b9b;
  --blanco: #fff;
  --negro: #000;
  --rojo: red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------ Nav-Titulo ------------*/
.nav-titulo {
  color: var(--grisOscuro);
  font-size: 250%;
  margin-left: 25px;
}

/* ------------ NAVEGACIÓN ------------ */

.imagen-logo{
    max-width: 100px;
    max-height: 100px;
    
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 16px;
  padding-left: 40px;
  margin-bottom: 15px;
  /* flex-wrap: wrap; */
}

.nav-lista {
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: end;
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
}



.nav-lista_item-link {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  font-weight: bold;
  color: var(--negro);
}


.nav-lista_item-link:hover {
  color: var(--rojo);
  text-decoration: underline;
}

.nav-lista:hover {
  border-top: 2px solid --rojo;
}

/* ------------Imagen Slider -------------- */
.imagen-slider>a>img{
  max-height: 150px;
  width: 100%;
  margin-bottom: 40px;
  display: block;
}

/* -------------Productos------------------- */
.productos {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  column-gap: 5px;
  margin-bottom: 40px;
  margin: auto 200px;
  justify-content: center;
}

.equipo-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  align-items: center;
}

.equipo-titulo {
  margin-bottom: 18px;
  text-align: center;
}

/* -------------Footer------------------- */
.pie {
  background-color: var(--negro);
  padding: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--blanco);
}

.formulario-contacto>h2{
  margin-bottom: 5px;
}


