/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --azul: rgb(167, 165, 222);
  --grisOscuro: #9b9b9b;
  --blanco: #fff;
  --negro: #000;
  --rojo: red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.imagen-logo{
  max-width: 130px;
  text-align: start;
}

.nav{
  display: flex;
  justify-items: end;
  justify-content: space-around;
}

.nav-ul {
  display: flex;
  gap: 1px;
  align-items: flex-end;

}

.nav-li {
  list-style: none;
  flex-grow: 1; 
}

.nav-a {
  display: block;
  padding: 8px;
  color: var(--negro);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.nav-a:hover {
  color: var(--rojo);
}

.boton{
  display: none;
}

@media (max-width: 767px) {
  .boton{
      display: block;
      padding: 8px;
      margin-bottom: 15px;
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      background-color: var(--negro);
      border-radius: 6px;
      border: 2px solid #0016b0;
  }
  .nav-ul {
      display: block;
      width: 90%;
      margin-top: 20px;
      display: none;
  }
  .nav-a {
      border-bottom: 1px solid var(--grisOscuro);
  }

  .imagen-logo{
    display: none;
  }
}

/* ------------Imagen Slider -------------- */
.imagen-slider>a>img{
  max-height: 150px;
  width: 100%;
  margin-bottom: 40px;
  display: block;
}

/* -------------Productos------------------- */
.productos {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  column-gap: 5px;
  margin-bottom: 40px;
  margin: auto 200px;
  justify-content: center;
}

.equipo-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  align-items: center;
}

.equipo-titulo {
  margin-bottom: 18px;
  text-align: center;
}

/* -------------Footer------------------- */
.pie {
  background-color: var(--negro);
  padding: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--blanco);
}

.formulario-contacto>h2{
  margin-bottom: 5px;
}

.mostrar{
  display: block;
}



